<div class="container">
  <h2 "text-center"><%= @post.name %>さんの詳細情報　<%= link_to "編集する", edit_teacher_post_path, class:"btn btn-success" %></h2><br>

   <div class="row mb-3">
      <table align="left">
        <tr>
          <% if @post.profile_image.attached? %>
              <%= image_tag @post.profile_image, size: "200x200" %>
          <% else %>
              <%= image_tag 'no_image', size: "300x300" %>
          <% end %>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr><th>名前</th><td><%= @post.name %></td></tr>
        <tr><th>説明文</th><td><%= @post.introduction %></td></tr>
        <tr>
          <th>募集状況</th>
            <td>
              <%  if @post.is_active == true %><p class="text-success">募集中</p>
              <% else %><p class="text-danger">募集停止中</p>
              <% end %>
            </td>
        </tr>
          <tr><th>日程1</th><td><%= @post.lesson_1.strftime("%Y/%m/%d %H:%M") %></td></tr>
          <tr><th>日程2</th><td><%= @post.lesson_2.strftime("%Y/%m/%d %H:%M") %></td></tr>
          <tr><th>日程3</th><td><%= @post.lesson_3.strftime("%Y/%m/%d %H:%M") %></td></tr>
          <tr><th>日程4</th><td><%= @post.lesson_4.strftime("%Y/%m/%d %H:%M") %></td></tr>
          <tr><th>日程5</th><td><%= @post.lesson_5.strftime("%Y/%m/%d %H:%M") %></td></tr>
      </table>
   </div>

  </div>