<div class="container">

  <div class="row mb-5">
    <div class="col">
      <h2>先生としてログイン</h2>
    </div>
  </div>

    <%= form_with(model: resource, url: session_path(resource_name)) do |f| %>

      <div class="row mb-3">
        <div class="col-sm-3 px-sm-0 offset-sm-1"><%= f.label :メールアドレス %></div>
        <div class="col-sm-3 px-sm-0"><%= f.email_field :email, :size => "40", autofocus: true, autocomplete: "email" %></div>
      </div><br>

      <div class="row mb-5">
        <div class="col-sm-3 px-sm-0 offset-sm-1"><%= f.label :パスワード %></div>
        <div class="col-sm-3 px-sm-0"><%= f.password_field :password, :size => "40", autocomplete: "current-password" %></div>
      </div><br>

      <div class="row mb-3">
        <div class="col-sm-3 offset-sm-4">
          <%= f.submit "ログイン", class:"btn btn-primary px-4 mt-4 mb-5" %>
          <%#= link_to "ゲストログイン", users_guest_session_path, method: :post, class:"col-md-2 offset-md-1 btn btn-secondary" %>
        </div>
      </div>

    <% end %>

    <div class="mb-1">
      <h4 style="width: 300px; background-color: #EEEEEE; text-align: center; margin-top: 20px;">会員登録がお済みでない方</h4><br>
      <p><%= link_to new_teacher_registration_path do %>こちら<% end %>から新規登録をしてください。</p><br>
    </div>

</div>
