<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="table-active" style="width:10%">名前</th>
          <th class="table-active" style="width:10%">日程</th>
          <th class="table-active" style="width:10%">ユーザー詳細</th>
        </tr>
      </thead>

      <body>
        <% @lessons.each do |lesson| %>
          <td><%= lesson.student.first_name %>&ensp;<%= lesson.student.last_name %>（<%= lesson.student.first_name_kana %>&ensp;<%= lesson.student.last_name_kana %>）様</td>

          <td><%= lesson.lesson_date.strftime("%Y/%m/%d %H:%M") %></td>
          <td><%= link_to "詳細へ", teacher_lesson_path(lesson.id), class: "btn btn-info" %></td>
        </tr>
        <% end %>
      </body>
    </table>
<div>



