<header class="navbar navbar-fixed-top mb-5">
  <div class="container">

    <nav class="nav navbar-nav navbar-left">
      <%= link_to root_path do %>
        <%= image_tag "starpiano_logo.jpg" %>
      <% end %>
    </nav><br>

    <nav class="row">
      <ul class="nav">
        <!--student -->
          <% if student_signed_in? %>
            <li><%= link_to student_root_path, class: "btn btn-outline-secondary" do %>ホーム<% end %></li>&emsp;
            <li><%= link_to student_posts_path, class: "btn btn-outline-secondary" do %>投稿一覧<% end %></li>&emsp;
            <li><%= link_to student_customers_path(current_student.id), class: "btn btn-outline-secondary" do %>マイページ<% end %></li>&emsp;
            <li><%= link_to student_favorite_lists_path, class: "btn btn-outline-secondary" do %>お気に入り一覧<% end %></li>&emsp;
            <li><%= link_to destroy_student_session_path, method: :delete, class: "btn btn-outline-secondary" do %>ログアウト<% end %></li>

        <!--teacher -->
          <% elsif teacher_signed_in? %>
            <li><%= link_to teacher_root_path, class: "btn btn-outline-secondary" do %>ホーム<% end %></li>&emsp;
            <li><%= link_to teacher_posts_path, class: "btn btn-outline-secondary" do %>投稿<% end %></li>&emsp;
            <li><%= link_to teacher_customers_path, class: "btn btn-outline-secondary" do %>マイページ<% end %></li>&emsp;
            <li><%= link_to destroy_teacher_session_path, method: :delete, class: "btn btn-outline-secondary" do %>ログアウト<% end %></li>

        <!-- admin -->
          <% elsif admin_signed_in?%>
            <li><%= link_to admin_root_path, class: "btn btn-outline-secondary" do %>投稿管理画面<% end %></li>&emsp;
            <li><%= link_to admin_customer_students_path, class: "btn btn-outline-secondary" do %>生徒管理画面<% end %></li>&emsp;
            <li><%= link_to admin_customer_teachers_path, class: "btn btn-outline-secondary" do %>先生管理画面<% end %></li>&emsp;
            <li><%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" do %>ログアウト<% end %></li>

        <!--ログインしていない状態 -->
          <% else %>
            <li><%= link_to root_path, class: "btn btn-outline-secondary" do %>ホーム<% end %></li>&emsp;
            <li><%= link_to new_student_session_path, class: "btn btn-outline-secondary" do %>生徒としてログイン<% end %></li>&emsp;
            <li><%= link_to new_teacher_session_path, class: "btn btn-outline-secondary" do %>先生としてログイン<% end %></li>&emsp;
            <li><%= link_to new_admin_session_path, class: "btn btn-outline-secondary" do %>管理者としてログイン<% end %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>

